.valiadation_error{
    color:red;
}

.submit_button{
    text-align: left;
}

select, input[type='text'] {
    width: 150px;
}

.header{
    width:100%;
    text-align:right;
}

.userName {
    background: lightseagreen;
}